URL with encoded characters gets transformed to 8bit (Trac #167)

When going back from source mode to WYSIWYG mode the "Good Link" becomes "Bad Link":

```
<p><a href="http://guides.co.il/wiki/index.php/%D7%A9%D7%A2%D7%95%D7%9F_%D7%A7%D7%99%D7%99%D7%A5">Good Link</a></p><p><a href="http://guides.co.il/wiki/index.php/×©×¢×�×�_×§×�×�×¥">Bad Link</a></p>
```
It seems that the encoded characters in the URL are converted to 8bit and the URL then seems to be not in compliance with  RFC 3986 section 2.4 (or at least it doesn't lead to the page on the server).

This bug was already in HTMLarea 3 (but not in HTMLarea 2).
I didn't get to test it on FireFox (Xinha crashed it b4 I got to see anything).
HTMLarea 3 on FF didn't have this bug (all tests on WINXP)





_Reported by **xinha22apr05.ofer.hadaso**~~@xoxy.net~~, migrated from http://trac.xinha.org/ticket/167_
